body {
    vertical-align: top;
    text-align: center;
}

div.panel {

    display: inline-block;
    zoom: 1;

    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    min-height: 10em;
    width: 25%;
}

div.panel-header {
    vertical-align: top;
    font-size: 1.4em;
}

div.button:hover {
    opacity: 0.6;
    filter: alpha(opacity = 60);
    cursor: pointer;
}

div.start-game {
    background-color: darkolivegreen;
    color: antiquewhite;
}